
<form>
  <div class="mb-6">
    <div>
      <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Complete
        name</label>
      <input type="text" id="first_name"
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
             placeholder="leo messi" required/>
    </div>
  </div>
  <div class="mb-6">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
    <input type="email" id="email"
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-red-500 block w-full p-2.5"
           placeholder="soufian-chajjaoui" required/>
  </div>
  <div class="mb-6">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
    <input type="password" id="password"
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg   focus:border-red-500 block w-full p-2.5"
           placeholder="•••••••••" required/>
  </div>
  <div class="flex mb-6">
    <div class="flex items-center me-4">
      <input id="femme" type="radio" value="sex" name="colored-radio" class="w-4 h-4 text-red-600 bg-gray-100">
      <label for="femme" class="ms-2 text-sm text-white">Femme</label>
    </div>
    <div class="flex items-center me-4">
      <input id="homme" type="radio" value="sex" name="colored-radio" class="w-4 h-4 text-red-600 bg-gray-100">
      <label for="homme" class="ms-2 text-sm text-white">Homme</label>
    </div>
  </div>
  <div class="w-full">
    <button type="submit"
            class="text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center ">
      Register
    </button>
  </div>
</form>
